.logo {
}

header,
footer {
    font-family: Roboto;
    background-color: #1F2937;
    box-sizing: border-box;
}

.testimonial { 
    background-color: #E5E7EB;
    height: 150px;
}

header {
    font-size: 24px;
    color: #F9FAF8;
    height: 100px;
}

.hero {
    font-family: Roboto;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 250px;
    box-sizing: border-box;
    padding: 0 0 0 200px;
    display: flex;
}
.welcome{
    color: #F9FAF8;
    width: 400px;
}
.welcome-title {
    font-size: 48px;
    font-weight: 900;
}
.welcome-text{
    font-size: 18px;
    padding-bottom: 5px;
}
.card {
    height: 250px;
}
.action {
    height: 100px;
    width: 700px;
    margin: 68px;
    background-color: #3882F6;
}
footer {
    height: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding:0 20px 0 200px;
}

ul {
    list-style-type: none;
}
a {
    font-family: Roboto;
    color: #F9FAF8;
    text-decoration: none;
    font-size: 18px;
}

.links {
    display: flex;
    gap: 16px;
}
.welcome-pic {
    width: 200px;
    max-width: 100%;
    height:215px;
}
.sign-up{
    font-family: Roboto;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 17px;
    border: none;
    font-weight: bold;
}